.wordsysform .error{
    border: 1px solid red !important;
}
.wordsysform small{
    color: red !important;
    text-align: left !important;
    font-size: 14px !important;
}

.wordsysform .notice{
    background: #b0ffc4;
    border: 1px solid #c3c4c7;
    border-left-width: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    margin: 10px 0;
    padding: 10px 10px;
}

.wordsysform .notice-success {
    border-left-color: #00a32a;
    display: none;
}
